<div class="center hero-unit">
  <h1>Welcome to Ruby Boutique!</h1>
  <p>Site description.</P>

</div>

<h2>Portfolio</h2>
<% @portfolio_sites.each do |portfolio_site| %>
	
	<div class="portfolio_site <%= portfolio_site.name %>">
		<h3><%= portfolio_site.name %></h3>
		<p><%= portfolio_site.description %></p>
		<p><a href="http://<%= portfolio_site.site_url %>"><%= portfolio_site.site_url %></a></p>
	</div>

<% end %>



<h2>Codeschool Courses</h2>
<p>I've completed the following courses at <a href="http://codeschool.com">codeschool.com</a></p>

<% @codeschool_courses.each do |codeschool_course| %>
	
	<div class="codeschool_course">
		<h3><%= codeschool_course.name %></h3>
		<p><%= codeschool_course.description %></p>
		<%= image_tag(codeschool_course.image_url) %>
	</div>

<% end %>