<div class="center hero-unit">
  <h1>Welcome to Cafe Hobo!</h1>

  <% @users.each do |user| %>
  	<p>User: <%= link_to user.name, user %></p>
  <% end %>

  <p><%= link_to "All Blog Posts", blog_posts_path %></p>

  <p><%= link_to "All Portfolio Sites", portfolio_sites_path %></p>

  <p><%= link_to "All Codeschool Courses", codeschool_courses_path %></p>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>