<%= form_for @codeschool_course do |f| %>
  
  <label>Name:
  	<p><%= f.text_field :name, autofocus: true %></p>
  </label>

  <label>Description:
  	<p><%= f.text_area :description %></p>
  </label>

  <label>Image URL:
  	<p><%= f.text_field :image_url %></p>
  </label>

  <label>Position:
    <p><%= f.number_field :position %></p>
  </label>

  <p><%= f.submit "Create", class: 'btn btn-large btn-primary' %></p>
<% end %>
